fastwer @ git+https://github.com/Soul-Code/fastwer.git@a4d86d4f0d0333bf9ef9c7fba3cf5813646c5b6a
matplotlib==3.10.1
nltk==3.9.1
numpy==2.2.4
pillow==11.1.0
opencv-python==4.11.0.86
scikit-image==0.25.2
scipy==1.15.2
streamlit==1.44.1
torch==2.6.0
torchvision==0.21.0
transformers==4.51.3
